{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
  <link rel="stylesheet" href="{% static 'css/home.css'%}" />
  <script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  <title>交我伴</title>
</head>

<body>
  <header class="header" id="header">
    <nav class="nav container">
      <img src="{% static 'images/logo_nobackground.png' %}" alt="logo" class="nav__logo" style="width:200px;">
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="https://github.com/tingyuPP/NIS3368-findpartner" class="nav__link">仓库主页</a>
          </li>
          <li class="nav__item">
            <a href="https://github.com/tingyuPP/NIS3368-findpartner/graphs/contributors" class="nav__link">开发人员</a>
          </li>
          <li class="nav__item">
            <a href="/login/" class="nav__link">登录/注册</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <video autoplay muted loop class="main__bg">
      <source src="https://findpartner.obs.cn-east-3.myhuaweicloud.com/background.mp4" type="video/mp4">
      您的浏览器不支持 HTML5 视频标签。
    </video>
    <div class="main__content">
      <h1>在这里与志同道合的搭子相遇</h1>
      <button id="startButton" class="cssbuttons-io-button">
        立刻开始
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor"></path>
          </svg>
        </div>
      </button>
    </div>
  </main>
</body>

</html>