{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.7.1.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <title>登录</title>
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav">
        <a href="/home/">
          <img
            src="{% static 'images/logo_nobackground.png' %}"
            alt="logo"
            class="nav__logo"
            style="width: 200px"
          />
        </a>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="welcome">
          <div class="pinkbox">
            <div class="signup nodisplay">
              <h1>register</h1>
              <form method="post" id="register-form" autocomplete="off">
                {% csrf_token %}
                <input
                  type="text"
                  placeholder="用户名"
                  id="reg__username"
                  name="reg_username"
                />
                <input
                  type="password"
                  placeholder="密码"
                  id="reg__password"
                  name="reg_password"
                />
                <input
                  type="password"
                  placeholder="确认密码"
                  id="repeat__password"
                  name="reg_password2"
                />
                <button type="submit" class="button submit" id="register">
                  创建账号
                </button>
              </form>
            </div>
            <div class="signin">
              <h1>login</h1>
              <form
                method="post"
                class="more-padding"
                id="login-form"
                autocomplete="off"
              >
                {% csrf_token %}
                <input
                  type="text"
                  placeholder="用户名"
                  id="log__username"
                  name="log_username"
                />
                <input
                  type="password"
                  placeholder="密码"
                  id="log__password"
                  name="log_password"
                />
                <!--
                <div class="checkbox">
                  <input type="checkbox" id="remember" /><label for="remember"
                    >记住我</label
                  >
                </div>
                -->
                <button type="submit" class="button submit" id="login">
                  登录
                </button>
              </form>
            </div>
          </div>
          <div class="leftbox">
            <h2 class="title">欢迎来到<span>交我伴</span></h2>
            <p class="desc">快来找到你的<span>搭子</span></p>
            <img
              class="boy"
              src="{% static 'images/等待状态.png'%}"
              alt="1357d638624297b"
              border="0"
            />
            <p class="account">已有账号？</p>
            <button class="button" id="signin">登录</button>
          </div>
          <div class="rightbox">
            <h2 class="title">欢迎来到<span>交我伴</span></h2>
            <p class="desc">快来找到你的<span>搭子</span></p>
            <img class="boy" src="{% static 'images/等待状态.png'%}" />
            <p class="account">还没有账号？</p>
            <button class="button" id="signup">注册</button>
          </div>
        </div>
      </div>
      {% if messages %}
      <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
      </script>
      {% endif %}
    </main>
  </body>
</html>
