/* 
body::-webkit-scrollbar-horizontal {
    height: 0.5em;
}

body::-webkit-scrollbar-thumb-horizontal {
    background: transparent;
} */


/* 其他样式保持不变 */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.8);
}

/* 添加选中标签的效果 */
.channel-list li:hover {
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 90%;
}

/* 激活的选中标签样式 */
.active-channel {
    background-color: #f0f0f0;
}

/* 浮动框容器 */
.floating-box {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    /* 调整内边距 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    max-width: 300px;
    /* 调整宽度 */
    margin: 0 auto;
    /* 使浮动框居中 */
    margin-left: -2px;
    /* 向左移动 2px */
    cursor: pointer;
    width: 90%;
}

/* 标题样式 */
.title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

/* 行容器样式 */
.line-container {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

/* 图标样式 */
.reds-icon {
    fill: #2e3fd7;
    /* 图标颜色 */
    margin-right: 10px;
}

/* 描述文本样式 */
.desc {
    font-size: 13px;
    color: #666;
}

.custom-button {
    margin-top: 2px;
    margin-bottom: 15px;
    margin-left: -2px;

    height: 48px;
    background: #24e2ff;
    color: #000000;
    opacity: 1;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    width: 98%;
}

.container {
    max-width: 1728px;
    background-color: #fff;
    margin: 0 auto;
    
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 72px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    align-items: center;
    background: #fff;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1728px;
    height: 72px;
    padding: 0 16px 0 24px;
    z-index: 10;
}

.tool-box {
    width: 24px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}

.input-box {
    height: 40px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 695px) {
    .input-box {
        display: none;
    }
}

@media screen and (min-width: 960px) and (max-width: 1191px) {
    .input-box {
        width: calc(-36px + 50vw);
    }
}

@media screen and (min-width: 1192px) and (max-width: 1423px) {
    .input-box {
        width: calc(-33.6px + 40vw);
    }
}

@media screen and (min-width: 1424px) and (max-width: 1727px) {
    .input-box {
        width: calc(-42.66667px + 33.33333vw);
    }
}

@media screen and (min-width: 1728px) {
    .input-box {
        width: 533.33333px;
    }
}

.search-input {
    padding: 0 84px 0 16px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 120%;
    color: #333;
    caret-color: #ff2442;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 999px;
    /* bottom: none; */
}

.input-button {
    position: absolute;
    right: -170px;
    top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(51, 51, 51, 0.8);
}

.close-icon,
.search-icon {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(51, 51, 51, 0.8);
}

.input-button:hover {
    cursor: pointer;
    /* 显示小手指针 */
    transform: scale(1.15);
    /* 鼠标移入时按钮稍微放大 */
}

.main {
    display: flex;
}

.side-bar {
    height: calc(100vh - 72px);
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 16px;
    margin-top: 72px;
    position: fixed;
    overflow: visible;
}



.channel-list {
    min-height: auto;
    -webkit-user-select: none;
    user-select: none;
    margin-left: -40px;
}

.channel-list .active-channel {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 999px;
    color: #333;
    width: 90%;
}

.channel-list li {
    padding-left: 16px;
    min-height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
    color: rgba(51, 51, 51, 0.6);
}

.link-wrapper {
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
}

.message-count {
    margin-left: 7rem;
    background-color: red;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.channel {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    color: #333;
}

.information-container {
    display: inline-block;
    width: 100%;
    color: #333;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    margin-left: -6px;
}

.information-pad {
    z-index: 16;
    margin-bottom: 4px;
    width: 90%;
}

.information-pad .container {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}

.divider {
    margin: 0px 12px;
    list-style: none;
    height: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-width: 1px 0 0;
}

.group-wrapper {
    padding: 4px;
}

.group-header {
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 400;
    height: 32px;
    color: rgba(51, 51, 51, 0.6);
    font-size: 12px;
}

.menu-item {
    height: 40px;
    color: rgba(51, 51, 51, 0.8);
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 400;
}

.menu-item .icon {
    color: rgba(51, 51, 51, 0.3);
    margin-left: auto;
}

.menu-item .component {
    margin-left: auto;
}

.multistage-toggle {
    position: relative;
    background: rgba(0, 0, 0, 0.03);
    display: flex;
    padding: 2px;
    border-radius: 999px;
    cursor: pointer;
}

.multistage-toggle .active {
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.02);
    color: #333;
}

.toggle-item {
    border-radius: 999px;
    background: transparent;
    color: rgba(51, 51, 51, 0.6);
}

.icon-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 添加选中标签的效果 */
.menu-item:hover {
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 90%;
}

.information-wrapper {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    height: 48px;
    width: 100%;
    display: flex;
    font-weight: 600;
    align-items: center;
    border-radius: 999px;
}

/* 添加选中标签的效果 */
.information-wrapper:hover {
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 90%;
}

.main-content {
    width: 100%;
    

}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

form {
    height: 100%;
}

.search-button {
    background: none; /* 移除按钮背景 */
    border: none; /* 移除按钮边框 */
    padding: 0; /* 移除按钮内边距 */
    cursor: pointer; /* 鼠标悬停时显示为指针 */
}

.search-button img {
    display: block; /* 确保图片占据整个按钮 */
}

/* @media screen and (min-width: 960px) and (max-width: 1191px) {
    .main-content {
        padding-left: calc(-6px + 25vw);
    }
}

@media screen and (min-width: 1192px) and (max-width: 1423px) {
    .main-content {
        padding-left: calc(-4.8px + 20vw);
    }
}

@media screen and (min-width: 1424px) and (max-width: 1727px) {
    .main-content {
        padding-left: calc(-5.33333px + 16.66667vw);
    }
}

@media screen and (min-width: 1728px) {
    .main-content {
        padding-left: 282.66667px;
    }
} */

