body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0f7fa, #80deea);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.user-page {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.user {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.return-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.return {
    margin-left: 20px;
}

.user-info {
    display: flex;
    justify-content: center;
    padding: 48px 0;
    gap: 32px;
    /* 增加间距 */
}

.avatar .avatar-wrapper {
    text-align: center;
    width: 250.66667px;
    height: 175.46667px;
}

.avatar .user-image {
    border-radius: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.info-part {
    position: relative;
    width: 100%;
    max-width: 600px;
    /* 确保有足够的宽度 */
}

.info {
    margin-left: 32px;
}

.basic-info {
    display: flex;
    align-items: center;
}

.user-basic {
    width: 100%;
}

.user-nickname {
    width: 100%;
    display: flex;
    align-items: center;
}

.user-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #333;
}

.user-content {
    width: 100%;
    font-size: 12px;
    line-height: 120%;
    color: rgba(51, 51, 51, 0.6);
    display: flex;
    margin-top: 8px;
}

.user-redId {
    padding-right: 12px;
}

.user-desc {
    width: 100%;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-top: 16px;
    white-space: pre-line;
}

.user-tags {
    height: 24px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #333;
    text-align: center;
    font-weight: 400;
    line-height: 120%;
}

.tag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    grid-gap: 4px;
    gap: 4px;
    height: 18px;
    border-radius: 41px;
    background: rgba(0, 0, 0, 0.03);
    height: 24px;
    line-height: 24px;
    margin-right: 6px;
    color: rgba(51, 51, 51, 0.6);
}

.data-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.user-interactions {
    width: 100%;
    display: flex;
    align-items: center;
}

.count {
    font-weight: 500;
    font-size: 14px;
    margin-right: 4px;
}

.shows {
    color: rgba(51, 51, 51, 0.6);
    font-size: 14px;
    line-height: 120%;
}

.user-interactions>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 16px;
}

.follow {
    position: absolute;
    margin-left: auto;
    display: block;
    right: 0;
    top: 0;
}

.reds-sticky-box {
    --1ee3a37c: all 0.4s cubic-bezier(0.2, 0, 0.25, 1) 0s;
}

.reds-sticky {
    padding: 16px 0;
    z-index: 5 !important;
    background: hsla(0, 0%, 100%, 0.98);
}

.reds-tabs-list {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    font-size: 16px;
    justify-content: center;
    padding: 0px 12px;
}

.reds-tab-item {
    padding: 0px 16px;
    margin-right: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    color: rgba(51, 51, 51, 0.8);
    white-space: nowrap;
    transition: transform 0.3s cubic-bezier(0.2, 0, 0.25, 1);
    z-index: 1;
}

.reds-tab-item.active {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.8);
}

.feeds-tab-container {
    padding-left: 2rem;
}

.hidden {
    display: none;
}

.back-button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
}

.niceButton5 {
    display: inline-block;
    border-radius: 20px;
    background-color: #fbfdfe;
    border: none;
    color: #5b72ee;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding: 11px;
    width: 50px;
    height: 50px;
    line-height: 33px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
    position: relative; /* Positioning the button absolutely */
    top: 2%; /* Adjust the top position */
    left: 10%; /* Adjust the left position */
    z-index: 99;
}
.niceButton5 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.niceButton5 span::after {
content: ">";
position: absolute;
opacity: 0;
top: 20%;
right: 20%;
transition: 0.5s;
}
.niceButton5:hover span {
padding-right: 30px;
}
.niceButton5:hover span::after {
opacity: 1;
right: 0;
}